
.header {
    background-color: #4A90E2; /* Color azul médico */
    padding: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 1000;
    border: 1px solid rgb(40, 54, 245);
}


.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo styling */
.logo h1 {
    font-size: 1.8rem;
    margin: 0;
    font-weight: 600;
    letter-spacing: 1px;
}


.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: 500;
}

.nav ul li a:hover {
    background-color: #357ABD; /* Un tono más oscuro del azul */
}
