.wrapper{
    position: 
    widht 420px;
    background: rgb(14, 40, 155);
    border-radius: 10px;
    color: #fff;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

form h1 {
    font-size: 36px;
    text-align: center;
} 

form .input-box input {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    background: rgb(41, 90, 237);
    &::placeholder{color:#181313}
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,green, rgb(0, 140, 255), alpha);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 30px 45px 20px 20px;
}



.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
}

form .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    
    text-decoration: underline;
}
